.title {
    font-size: 2.99rem;
}

.custom-button {
    background: #574c3f;
    color: #ece4da;
    border: 2px solid #574c3f;
    border-radius: 0;
    padding: 7px 10px;
}

.custom-button:hover {
    background: #3f362b;
    border: 2px solid #3f362b;
    color: #ece4da;
}

.custom-button:focus,
.custom-button:active {
    background: #574c3f !important;
    border-color: #574c3f !important;
    color: #ece4da;
}


.fixed-size-btn {
    height: 100%;
    max-height: 75px;
    width: 100%;
    max-width: 100px;
}

.home-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    background-color: transparent;
    border: none;
    color: #574c3f;
    overflow: visible;
}

.home-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}


.home-button:hover,
.home-button:focus,
.home-button:active,
.home-button:focus-visible {
    background: transparent !important;
    color: #3f362b !important;
}
