.elegant-title {
    font-size: clamp(3rem, 100vw, 5rem);
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: normal;
}

header {
    position: relative; /* Allows the button to be positioned relative to the header */
}

.rsvp-button {
    position: relative;
}

