.elegant-title {
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 400%;
}

header {
    position: relative; /* Allows the button to be positioned relative to the header */
}

.rsvp-button {
    position: absolute;
    top: 0;
    right: 20px;
    margin: 10px; /* Adjust spacing if needed */
}

