.cancel-button {
    border-radius: 0;
    height: 40px;
    width: 80px;
}

.cancel-button.light {
    background: var(--main-light);
    color: var(--main-dark);
    border: 2px solid var(--main-light);
}

.cancel-button.dark {
    background: var(--main-dark);
    color: var(--main-light);
    border: 2px solid var(--main-dark);
}

.cancel-button.dark.wire {
    background: none;
    color: var(--main-dark);
}

.cancel-button.dark.wire:hover {
    background: var(--main-dark);
    color: var(--main-light);
}

.cancel-button:hover {
    background: var(--hover-dark);
    color: var(--main-light);
}

.cancel-button:focus,
.cancel-button:active {
    background: var(--main-dark) !important;
    border-color: var(--main-dark) !important;
    color: var(--main-light);
}